/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/

/* ---------------------------------- MOJE CSS --------------------------------ZDA SE MI, ŽE SE NENALINKOVALY FONTY ??!!*/
body {
	font-family: "Lora";  /* !!! název písma v uvozovkách !!!!*/
	font-size: 18px;
	line-height: 1.5;
	margin: 0;
}

.section {
	padding-bottom: 80px;
	padding-top: 80px;
	/* display: block; */
	/* max-width: 1100px;
	margin: auto; */
} 

h1 {
	font-size: 52px;
	margin-top: 0;
}

h2 {
	font-size: 36px;
	color: 	#3e606b;
}

h3 {
	font-size: 18px;
	color: 	#3e606b;
}
.h {
	font-family: "Playfair Display"; /* !!! název písma v uvozovkách !!!!*/
	line-height: 1.25;
}
/* ---------------------- hlavička --------------------------- */
.header {
	display: flex;
	/* background-color: bisque; */
	/* align-items: center; */
}

.hlavicka {
	padding-bottom: 30px;
	padding-top: 30px;
	width: 1100px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 170px;
	display: flex;
}

.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

a {
	display: block;
	padding: 10px 15px;
	color:#242424;
	text-decoration: none;
}

a:hover {
	background-color:#f195b2;
	border-radius: 20px;
	color: white;
	/* padding: 10px 15px; */
}

/* ------------------------ hero sekce --------------------------------- */
.hero {
	background-size: cover;
	background-image: url("images/cupcake.jpg"); /* OBRAZEK NESEDÍ TAK, JAK BY MĚL */
	background-repeat: no-repeat;
	margin:auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.hero-text {
	width: 60%;
	padding-right: 40%;
	color: white;
	width: 1100px;
	margin:0 auto;
}

/* ------------------------ VÍTEJTE sekce --------------------------------- */

.kontejner {
	background-color: lightblue;
	display: flex;
	margin: 0;
}

.box {
	display: flex;
	justify-content: space-between;
	width: 1100px;	
	margin: auto;
}

.levysloupec {
	background-color: white;
	margin: 80px 0px 80px auto;
	padding-right: 30px;
	padding-left:3px;
}

.pravysloupec {
	height: 100%;
	margin: 80px auto 80px 0;
	flex-basis: 50%;
}

.tlacitko {
	background-color:#f195b2;
	padding: 15px 40px;
	border-radius: 30px;
	color: white;
	text-align: center;
}

 .tlacitko a {  /* NEFUNGUJE, JAK MÁ... */
	/* display: block; */
	padding: 0;
	color: white;
} 

.tlacitko a:hover {
	background-color: #d2567d;
}
/* ------------------------- DNEŠNÍ NABÍDKA sekce -----------------------------*/
.nabidka {
	background-color: #f0f0f0;
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
}

.karta { /* spatne rozložené karty */
	display: flex;
	width: 1100px; 
	box-shadow: 3px;
	flex-shrink: 1;
	flex-wrap: nowrap;
	
}
.obsahkarty {
	display:flex;
	width: 25%;
	flex-basis: calc(25%-30px);
	flex-wrap: wrap; 
	margin:auto 30px;
	justify-content: space-between;
}

.obsahkarty img {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	border-radius: 10px 10px 0 0;
}

.kartatext {
	background-color: white;
	padding: 20px 30px;
	display: block;
	border-radius: 0 0 10px 10px;
}
/* ------------------------ NÁŠ PŘÍSTUP sekce --------------------------------- */

.kontejnerbily {
	/* background-color: lightpink; */
	display: flex;
	margin: 0;
}

.boxdole {
	display: flex;
	justify-content: space-between;
	width: 1100px;	
	margin: auto;
}

.levysloupecdole {
	/* background-color: white; */
	margin: 80px 0px 80px auto;
	order: 0;
}

.pravysloupecdole {
	height: 100%;
	padding-left: 30px;
	padding-right:3px;
	margin: 80px auto 80px 0;
	flex-basis: 50%;
}
/* -------------------------- PATICKA ------------------------- */
.footer {
	background-color: #303339;
	color: white;
	text-align: center;
	padding: 30px 0;
}

