/* intuitivnější box-sizing pro všechny prvky na stránce */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

/*
	Poznámky:
	- maximální šířka obsahu uvnitř sekcí je 1100px
	- "pruh" s obsahem obsah je vycentrovaný na stránce
	- všechny sekce mají nahoře a dole padding 80px
	- kromě hlavičky a patičky, které mají jen 30px
	- nadpisy jsou fontem Playfair Display, tučně
	- veškerý další text na stránce fontem Lora
	- výchozí velikost textu na stránce je 18px, řádkování 1.5

	Velikosti nadpisů:
	h1 - 52px  (nadpis v horní Hero sekci s cupcakem)
	h2 - 36px  (nadpisy v dalších sekcích)
	h3 - 18px  (název produktu v Dnešní nabídce)
	Nadpisy mají řádkování jen 1.25

	Barvy:
	#f195b2		růžová - tlačítka a zvýraznění
	#d2567d		tmavá růžová - hover/aktivní tlačítka
	#3e606b		tmavá tyrkysová - na nadpisy
	#242424		(skoro) černá - na běžný text
	#f0f0f0		světle šedé pozadí prostřední sekce
	#303339		tmavé pozadí patičky
*/

/* ---------------------------------- MOJE CSS --------------------------------ZDA SE MI, ŽE SE NENALINKOVALY FONTY ??!!*/
body {
	font-family: "Lora";  /* !!! název písma v uvozovkách !!!!*/
	font-size: 18px;
	line-height: 1.5;
	margin: 0;
}

.section {
	padding-bottom: 80px;
	padding-top: 80px;
	/* display: block; */
	/* max-width: 1100px;
	margin: auto; */
} 

h1 {
	font-size: 52px;
	margin-top: 0;
}

h2 {
	font-size: 36px;
	color: 	#3e606b;
}

h3 {
	font-size: 18px;
	color: 	#3e606b;
}
.h {
	font-family: "Playfair Display"; /* !!! název písma v uvozovkách !!!!*/
	line-height: 1.25;
}
/* ---------------------- hlavička --------------------------- */
.header {
	display: flex;
	/* background-color: bisque; */
	/* align-items: center; */
}

.hlavicka {
	padding-bottom: 30px;
	padding-top: 30px;
	width: 1100px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 170px;
	display: flex;
}

.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

a {
	display: block;
	padding: 10px 15px;
	color:#242424;
	text-decoration: none;
}

a:hover {
	background-color:#f195b2;
	border-radius: 20px;
	color: white;
	/* padding: 10px 15px; */
}

/* ------------------------ hero sekce --------------------------------- */
.hero {
	/* background-size: cover; */
	color: white;
	background-image: url("images/cupcake.jpg"); /* OBRAZEK NESEDÍ TAK, JAK BY MĚL */
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	/* margin:auto;
	padding-top: 30px;
	padding-bottom: 30px; */
}

.hero .box {
	display: flex;
	padding: 50px;

}
.hero-text {
	padding-right: 50%;
	color: white;
	width: 1100px;
	margin:0 auto;
}

/* ------------------------ VÍTEJTE sekce --------------------------------- */

.kontejner {
	background-color:white;
	padding: 80px 0px;
}

.box {
	/* display: flex;
	justify-content: space-between; */
	max-width: 1100px;	
	margin: 0 auto;
}

.welcome .box {
	background-color: white;
	display: flex;
}

/* .sloupec {
	flex-basis: 50%;
} */

.pravy {
	flex-basis: 50%;
}

.sloupec .pravy img {   /* nemůžu se zbavit bílého okraje dole - zkoušela jsem to horem dolem*/
	/* padding: 5px 10px 0 0; */
	width: 100%;
	display: block;
}

.levy {
	padding:0 30px 0 0px;
	flex-basis: 50%;
}

.sloupec h2 {
	padding-top: 30px;
}
.tlacitko {
	background-color:#f195b2;
	padding: 0;
	border-radius: 30px;
	border: none; /* může být none i když na tom nastavuju radius */
	text-align: center;
	margin-bottom: 10px;
}

 .tlacitko a {  /* NEFUNGUJE, JAK MÁ... 
	display: block; */
	padding: 15px 40px;
	color: white;
} 

.tlacitko a:hover {  /*  tlačítko se nezabarvuje celé - PROČ ???? - padding musí být na odkazu (nadřazeném prvku) a ne na tlačítku*/
	background-color: #d2567d;
	
}
/* ------------------------- DNEŠNÍ NABÍDKA sekce -----------------------------*/
.nabidka {
	background-color: #f0f0f0;
	/* width: 1100px;  */
}
.box {  /* proč to mám tak uskočené ??? */
	display: block;
	padding-left: 20px;
}

.box h2 {
	margin-top: 0;
}
/* .nabidka .text{
	margin-left: 15px;
}  */

.nabidka .karta { /* proč se to nesmrskne k sobě? */
	display: flex;
	max-width: 1100px;
	margin: 0 auto;
	flex-basis: calc(100% - 30px);
	justify-content: space-between;
	align-items: flex-start;
	/* box-shadow: 3px; */
	flex-wrap: nowrap;

}
.obsahkarty {
	/* display:flex; nepotřebuji flex, protože je vše pod sebou */
	margin:0 15px;
	flex-basis: 23%;
}

.obsahkarty img {
	width: 100%;
	display: block;
	border-radius: 10px 10px 0 0;
}

.kartatext {
	background-color: white;
	padding: 20px 30px;
	display: block;
	border-radius: 0 0 10px 10px;
}

.kartatext h3 {
	text-align: center;
}
/* ------------------------ NÁŠ PŘÍSTUP sekce --------------------------------- */

.dole {
	background-color:white;
	padding: 80px 0px;
}

.box {
	display: flex;
	justify-content: space-between;
	max-width: 1100px;	
	margin: 0 auto;
}

.pravy {
	flex-basis: calc(50% - 30px);
}

 .sloupec .pravy img {   /* nemůžu se zbavit bílého okraje dole - zkoušela jsem to horem dolem*/
	/* padding: 5px 10px 0 0; */
	width: 100%;
	display: block;
}

.levy {
	padding:0 30px 0 30px;
	flex-basis: 50%;
}

.sloupec h2 {
	padding-top: 30px;
}

/* -------------------------- PATICKA ------------------------- */
.footer {
	background-color: #303339;
	color: white;
	text-align: center;
	padding: 30px 0;
}

